/*-------------------------
#.ethically-made-area
--------------------------*/
.ethically-made-area {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     &.background-image {
          position: relative;
          padding: 25rem 0;
          z-index: 1;
          &::before {
               position: absolute;
               content: '';
               width: 100%;
               height: 100%;
               left: 0;
               top: 0;
               background: rgba(225, 255, 255, .3);
               z-index: -1;
          }
          .title {
               color: var(--black);
          }
          .content {
               color: var(--black);
          }
     }
     .title {
          margin-bottom: 5rem;
          font-size: 4.8rem;
          line-height: 5.8rem;
          color: var(--black);
     }
     .content {
          margin-bottom: 5rem;
          font-family: $titleFont;
          font-size: 1.8rem;
          line-height: 3rem;
          font-weight: 500;
          color: var(--black);
     }
}
@media (max-width: 1399px) {
     .ethically-made-area .title {
          font-size: 3.6rem;
          line-height: 4.6rem;
          margin-bottom: 5rem;
     }
     .ethically-made-area .content {
          font-size: 1.8rem;
          line-height: 3rem;
     }
     .ethically-made-area.background-image {
          padding: 12rem 0;
     }
}
@media (max-width: 991px) {
     .ethically-made-area.background-image {
          padding: 8rem 0;
     }
     .ethically-made-area .title {
          margin-bottom: 3rem;
     }
     .ethically-made-area .content {
          margin-bottom: 3rem;
     }
}
@media (max-width: 575px) {
     .ethically-made-area .title {
          margin-bottom: 3rem;
     }
     .ethically-made-area .content {
          margin-bottom: 3rem;
     }
     .ethically-made-area .title {
          font-size: 2.6rem;
          line-height: 3.4rem;
     }
     .ethically-made-area .content {
          font-size: 1.6rem;
          line-height: 2.4rem;
     }
}
