/*-------------------------
#.plastic-waste-area
--------------------------*/
.plastic-waste-area {
    display: block;
    .slick-slider {
        margin:0 -15px;
    }
    .slick-slide {
        margin-right:15px;
        margin-left:15px;
    }
}   