/*-------------------------
#.how-work-area
--------------------------*/
.how-work-area {
    .how-work-left {
        padding: 3rem 0;
        max-width: 50%;
        margin: 0 auto;
        .title {
            margin-bottom: 7rem;
            font-size: 4.8rem;
            font-weight: 700;
            text-transform: capitalize;
            color: var(--black);
        }
    }
    .how-work-list {
        .single-work {
            display: flex;
            position: relative;
            z-index: 1;
            padding-bottom: 3rem;
            &:last-child {
                padding-bottom: 0;
                &::before {
                    display: none;
                }
            }
            &::before {
                position: absolute;
                content: '';
                width: 1px;
                height: 0;
                background-color: var(--black);
                left: 63px;
                top: 0;
                z-index: -1;
                transition: all .5s linear;
            }
            &.aos-animate {
                &::before {
                    height: 100%;
                }
            }
            .work-icon {
                img {
                    max-width: 3rem;
                    object-fit: cover;
                }
            }
            .work-count {
                @include flex-position(flex, center, center);
                margin: 0 1.5rem;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                border: 1px solid var(--black);
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--black);
                background-color: #CBD1C7;
            }
            .work-info {
                flex: 1;
                h4 {
                    margin-bottom: .5rem;
                    font-size: 2.2rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: var(--black);
                }
                p {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: var(--black);
                    margin: 0;
                }
            }
        }
    }
    .video-area {
        position: relative;
        line-height: 1;
        margin-bottom: -3px;
        video {
            margin: 0;
            width: 100%;
            height: 800px;
            object-fit: cover;
            border: none;
            line-height: 1;
            padding: 0;
            margin: 0;
        }
        .video-thumbnail {
            img {
                width: 100%;
                min-height: 800px;
                object-fit: cover;
            }
        }
        .popup-video {
            display: inline-flex;
            position: absolute;
            align-items: center;
            font-family: $titleFont;
            font-size: 1.8rem;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--black);
            left: 3rem;
            bottom: 3rem;
            transition: all .3s;
            .play-btn {
                @include flex-position(flex, center, center);
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                border: 1px solid var(--black);
                margin-right: 1.5rem;
                transition: all .3s;
            }
            &:hover {
                color: var(--primary-color);
                .play-btn {
                    background-color: var(--primary-color);
                    border-color: var(--primary-color);
                    color: var(--white);
                }
            }
        }
        .play-icon {
            max-width: 6rem;
        }
    }
}
@media (max-width: 1700px) {
    .how-work-area .how-work-left {
        padding: 3rem 1.5rem;
        max-width: 80%;
    }
}
@media (max-width: 1500px) {
    .how-work-area .how-work-left .title {
        margin-bottom: 4rem;
        font-size: 3.6rem;
    }
    .how-work-area .how-work-list .single-work {
        padding-bottom: 3rem;
    }
    .how-work-area .video-area .video-thumbnail img {
        min-height: 600px;
        object-fit: cover;
    }
}
@media (max-width: 1399px) {
    .how-work-area .video-area video {
       height: 600px;
    }
}
@media (max-width: 1199px) {
    .how-work-area .how-work-left {
        max-width: 100%;
    }
    .how-work-area .video-area .video-thumbnail img {
        min-height: 510px;
    }
}
@media (max-width: 991px) {
    .how-work-area .video-area video {
        height: auto;
    }
    .how-work-area .how-work-left {
        padding: 6rem 1.5rem;
    }
}
@media (max-width: 575px) {
    .how-work-area .how-work-left .title {
        font-size: 2.6rem;
        line-height: 3.4rem;
    }
    .how-work-area .video-area .video-thumbnail img {
        min-height: auto;
    }
    .how-work-area .video-area .play-icon {
        max-width: 4rem;
    }
}
@media (max-width: 480px) {
    .how-work-area .how-work-list .single-work .work-info h4 {
        font-size: 1.8rem;
    }
    .how-work-area .how-work-list .single-work .work-info p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}
@media (max-width: 360px) {
    .how-work-area .how-work-list .single-work .work-icon img {
        max-width: 2rem;
    }
    .how-work-area .how-work-list .single-work .work-count {
        margin: 0 1rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.6rem;
        line-height: 1;
    }
    .how-work-area .how-work-list .single-work::before {
        left: 42px;
    }
}
.properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}