/*-------------------------
#.period-area
--------------------------*/
.period-area {
     .single-period {
          margin-bottom: 3rem;
          .period-image {
               position: relative;
               img {
                    width: 100%;
                    height: auto;
               }
               .primary-btn {
                    position: absolute;
                    bottom: 5rem;
                    max-width: 280px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: 0 auto;
               }
          }
     }
}
@media (max-width:480px) {
     .period-area .single-period .period-image .primary-btn {
          bottom: 3rem;
          width: 100%;
          max-width: 290px;
     }
}
@media (max-width:360px) {
     .period-area .single-period .period-image .primary-btn {
          max-width: 260px;
     }
}