/*-------------------------
#.period-area
--------------------------*/
.period-area {
     .single-period {
          margin-bottom: 3rem;
          .period-image {
               position: relative;
               img {
                    width: 100%;
                    height: auto;
               }
               .primary-btn {
                    position: absolute;
                    bottom: 5rem;
                    max-width: 280px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: 0 auto;
               }
          }
     }
}