/*-------------------------
#.header-area
--------------------------*/
.header-area {
    background-color: #FFFCF7;
    padding: 3rem 0;
    &.stick {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        animation: goDown 0.5s ease-in-out forwards;
    }
    .header-wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .header-left {
            width: 40%;
        }
        .header-center {
            width: 20%;
            text-align: center;
        }
        .header-right {
            width: 40%;
            text-align: right;
        }
    }
    .main-menu {
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin-right: 2.5rem;
                a {
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: var(--black);
                    transition: $transition;
                    i {
                        margin-left: .5rem;
                        font-size: 1.4rem;
                        vertical-align: baseline;
                    }
                    &:hover {
                        color: var(--black);
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    a {
                        color: var(--black);
                    }
                }
                &.has-sub-menu {
                    position: relative;
                    .sub-menu {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 16rem;
                        padding: .5rem 0;
                        background-color: var(--white);
                        box-shadow: 0 5px 8px rgba(100, 100, 111, 0.2);
                        z-index: 9;
                        border-radius: .5rem;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        pointer-events: none;
                        transform: translateY(15px);
                        li {
                            display: block;
                            margin: 0;
                            border-bottom: 1px dashed rgba(100, 100, 111, 0.2);
                            &:last-child {
                                border-bottom: 0;
                            }
                            a {
                                display: block;
                                font-size: 1.6rem;
                                font-weight: 400;
                                text-transform: capitalize;
                                color: var(--black);
                                transition: $transition;
                                padding: .5rem 1rem;
                                &:hover {
                                    color: var(--black);
                                    transform: translateX(5px);
                                }
                            }
                        }
                    }
                    &:hover {
                        .sub-menu {
                            visibility: visible;
                            opacity: 1;
                            pointer-events: all;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
    .brand-logo {
        display: inline-block;
        img {
            max-width: 16rem;
        }
    }
    .account-curancy-area {
        display: inline-flex;
        align-items: center;
        margin-right: 4rem;
        .curancy-area {
            margin-right: 2rem;
            .dropdown-toggle {
                padding: 0;
                border: none;
                background: transparent;
                font-family: $bodyFont;
                font-size: 1.8rem;
                font-weight: 400;
                text-transform: uppercase;
                color: var(--black);
                &:after {
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    content: "\f107";
                    border: none;
                    vertical-align: 0;
                    font-size: 1.4rem;
                    line-height: 1;
                }
            }
            .dropdown-menu {
                width: 12rem;
                padding: 0;
                border: none;
                border-radius: .5rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                li {
                    a {
                        font-size: 1.6rem;
                        font-weight: 400;
                        text-transform: capitalize;
                        color: var(--black);
                        transition: $transition;
                        &:hover {
                            color: var(--black);
                        }
                        &:active {
                            color: var(--black);
                            background-color: var(--white);
                        }
                        &:focus {
                            color: var(--black);
                            background-color: var(--white);
                        }
                        &:visited {
                            color: var(--black);
                            background-color: var(--white);
                        }
                    }
                    &.active {
                        a {
                            color: var(--black);
                        }
                    }
                }
            }
        }
        .account-btn {
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--black);
            transition: $transition;
            &:hover {
                color: var(--black);
            }
        }
    }
    .search-cart {
        display: inline-flex;
        align-items: center;
        li {
            margin-right: 2.5rem;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                img {
                    max-width: 2.5rem;
                }
            }
        }
    }
    .cart-area {
        a {
            position: relative;
            .cart-count {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                font-size: 1rem;
                line-height: 1;
                font-weight: 400;
                color: var(--black);
            }
        }
    }
}
// mobile-header
.mobile-header {
    background-color: #FFFCF7;
    padding: 1.5rem;
    &.stick {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        animation: goDown 0.5s ease-in-out forwards;
    }
    .mobile-header-wrap {
        display: flex;
        justify-content: space-between;
    }
    .header-left {
        display: flex;
        align-items: center;
        .menu-bar {
            padding: 0;
            border: none;
            background: transparent;
            font-size: 3rem;
            color: var(--black);
            box-shadow: none;
            margin-right: 1rem;
        }
        .search-btn {
            display: inline-block;
            img {
                max-width: 3rem;
            }
        }
    }
    .header-center {
        text-align: center;
        a {
            display: inline-block;
            img {
                max-width: 15rem;
            }
        }
    }
    .cart-btn {
        position: relative;
        img {
            max-width: 3rem;
        }
        .cart-count {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 1rem;
            line-height: 1;
            font-weight: 400;
            color: var(--black);
        }
    }
}
// offcanvas-menu-area
.offcanvas-menu-area {
    background-color: #E1D2BB;
    &.offcanvas-start {
        border-color: #D08E61;
    }
    .offcanvas-header {
        padding: 2.5rem 1rem;
        .close {
            @include flex-position(flex, center, center);
            background-color: #D08E61;
            color: var(--white);
            position: absolute;
            right: .5rem;
            bottom: 1rem;
            padding: 0;
            border: none;
            box-shadow: none;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
        }
    }
    .curancy-area {
        margin-right: 2rem;
        .dropdown-toggle {
            padding: 0;
            border: none;
            background: transparent;
            font-family: $bodyFont;
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--black);
            &:after {
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                content: "\f107";
                border: none;
                vertical-align: 0;
                font-size: 1.4rem;
                line-height: 1;
            }
        }
        .dropdown-menu {
            width: 12rem;
            padding: 0;
            border: none;
            border-radius: .5rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            li {
                a {
                    font-size: 1.6rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: var(--black);
                    transition: $transition;
                    &:hover {
                        color: var(--black);
                    }
                    &:active {
                        color: var(--black);
                        background-color: var(--white);
                    }
                    &:focus {
                        color: var(--black);
                        background-color: var(--white);
                    }
                    &:visited {
                        color: var(--black);
                        background-color: var(--white);
                    }
                }
                &.active {
                    a {
                        color: var(--black);
                    }
                }
            }
        }
    }
    .account-btn {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--black);
        transition: $transition;
        &:hover {
            color: var(--black);
        }
    }
    .main-menu {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin-bottom: 1.5rem;
                .dropdown-btn {
                    float: right;
                    cursor: pointer;
                }
                a {
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: var(--black);
                    transition: $transition;
                    &:hover {
                        color: var(--black);
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.active {
                    a {
                        color: var(--black);
                    }
                }
                &.has-sub-menu {
                    .sub-menu {
                        background-color: var(--white);
                        margin-top: 1rem;
                        border-radius: .3rem;
                        display: none;
                        li {
                            display: block;
                            margin: 0;
                            border-bottom: 1px dashed rgba(100, 100, 111, 0.2);
                            &:last-child {
                                border-bottom: 0;
                            }
                            a {
                                display: block;
                                font-size: 1.6rem;
                                font-weight: 400;
                                text-transform: capitalize;
                                color: var(--black);
                                transition: $transition;
                                padding: .5rem 1rem;
                                &:hover {
                                    color: var(--black);
                                    transform: translateX(5px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes goDown {
    0%{
      top:-60px;
    }
    100% {
      transform: translateY(0);
    }
}  
@media (max-width: 767px) {
    .mobile-header .header-left .menu-bar {
        font-size: 2rem;
    }
    .mobile-header .header-left .search-btn img {
        max-width: 2.2rem;
        object-fit: contain;
    }
    .mobile-header .cart-btn img {
        max-width: 2.5rem;
    }
}
@media (max-width: 480px) {
    .mobile-header .header-center a img {
        max-width: 10rem;
    }
    .mobile-header .header-left .menu-bar {
        font-size: 2.5rem;
    }
    .mobile-header .header-left .search-btn img {
        max-width: 2.5rem;
    }
    .mobile-header {
        padding: 1rem;
    }
}