/*-------------------------
#.undies-instead-area
--------------------------*/
.undies-instead-area {
    .instead-top {
        max-width: 85%;
        margin: 0 auto;
        margin-bottom: 8rem;
        .instead-title {
            font-size: 4.8rem;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--black);
            span {
                display: inline-block;
                font-weight: 700;
                color: #D08E61;
            }
        }
    }
    .single-box {
        margin-bottom: 3rem;
        .icon {
            margin-bottom: 2.5rem;
            img {
                max-width: 10rem;
                max-height: 10rem;
                object-fit: cover;
            }
        }
        .title {
            margin-bottom: 2.5rem;
            font-family: $titleFont;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--bColor);
        }
        .info-content {
            margin: 0;
            font-family: $titleFont;
            font-size: 3.2rem;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--black);
        }
    }
    .range-area {
        margin-bottom: 8rem;
    }
}
@media (max-width: 1399px) {
    .undies-instead-area .instead-top .instead-title {
        font-size: 3.2rem;
    }
    .undies-instead-area .single-box .icon img {
        max-width: 7rem;
        max-height: 7rem;
    }
}
@media (max-width: 767px) {
    .undies-instead-area .instead-top {
        max-width: 100%;
        margin-bottom: 4rem;
    }
    .undies-instead-area .instead-top .instead-title {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }
    .undies-instead-area .range-area {
        margin-bottom: 4rem;
    }
}
@media (max-width: 575px) {
    .undies-instead-area .single-box .icon img {
        max-width: 4rem;
        max-height: 4rem;
    }
    .undies-instead-area .single-box .title {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    .undies-instead-area .single-box .info-content {
        font-size: 2.2rem;
    }
}