/*-------------------------
#.product-review-area
--------------------------*/
.product-review-top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: 1px solid #919294;
    padding-bottom: 3rem;
    .review-point-count {
        width: 25%;
        .review-point-wrap {
            width: 150px;
            text-align: center;
        }
        .review-point {
            font-family: $bodyFont;
            font-size: 5rem;
            font-weight: 400;
            color: var(--bColor);
        }
        .review-icon {
            display: flex;
            justify-content: center;
            li {
                list-style: none;
                margin: 0 5px;
                color: #D08E61;
            }
        }
        .review-count {
            display: inline-block;
            margin: 0;
            margin-top: .5rem;
            font-family: $bodyFont;
            font-weight: 400;
            font-size: 1.4rem;
            color: #8C8C8C;
        }
    }
    .product-review-center {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 50%;
        .range-area {
            width: 45%;
            text-align: center;
            .range-title {
                font-size: 1.6rem;
                font-weight: 400;
                text-transform: capitalize;
                color: var(--black);
            }
            .range-item-lsit {
                display: flex;
                justify-content: space-between;
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--black);
            }
        }
    }
    .product-review-right {
        width: 25%;
        text-align: right;
        .whrite-review-btn {
            display: inline-block;
            margin-bottom: 3rem;
            font-family: $titleFont;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--black);
            border-bottom: 1px solid var(--black);
        }
        .short-field {
            padding: 0;
            border: none;
            background-color: transparent;
            font-family: $bodyFont;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--black);
        }
    }
}
.review-list {
    .single-review {
        display: flex;
        position: relative;
        padding: 3rem 0;
        border-bottom: 1px solid #919294;
        .review-left {
            width: 25%;
            margin-right: 5%;
            .user-name {
                margin-bottom: 1rem;
                font-family: $bodyFont;
                font-size: 1.8rem;
                font-weight: 700;
                color: var(--black);
            }
            .verified-user {
                display: inline-block;
                margin-bottom: 1.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                color: #8C8C8C;
                i {
                    margin-right: .5rem;
                    color: var(--black);
                }
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: .5rem;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    font-weight: 400;
                    color: var(--black);
                    span {
                        display: inline-block;
                        font-weight: 700;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .review-right {
            flex: 1;
            .review-right-top {
                margin-bottom: 1.5rem;
            }
            .review-icon {
                display: flex;
                li {
                    margin-right: .5rem;
                }
            }
            h4 {
                margin-bottom: 1.5rem;
                font-size: 2.2rem;
                font-weight: 400;
                text-transform: capitalize;
                color: var(--bColor);    
            }
            p {
                margin: 0;
                font-size: 1.8rem;
                line-height: 3.2rem;
                color: var(--black);
            }
            .review-meta {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 1.5rem;
                li {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--black);
                    line-height: 1;
                    margin-right: 1.5rem;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: inline-block;
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: var(--black);
                        .icon {
                            max-width: 2rem;
                        }
                    }
                }
            }
        }
        .review-time {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 400;
            color: #8C8C8C;
        }
    }
}
.range-area {
    .range-slider-range {
        -webkit-appearance: none;
        width: 100%;
        height: 1px;
        border-radius: 5px;
        background: #000000;
        outline: none;
        padding: 0;
        margin: 0;

        &::-webkit-slider-thumb {
          appearance: none;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #E1D2BB;
          border: 1px solid #ffffff;
          box-shadow: 0 0 0 1px #000000;
          cursor: pointer;
          transition:  0.15s ease-in-out;
          &:hover {
            background-color: var(--black);
          }
        }
        &.big-handelar {
            &::-webkit-slider-thumb {
                appearance: none;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #E1D2BB;
                background-image: url('../images/arrow-left-right.svg');
                background-position: center;
                background-repeat: no-repeat;
                border: 5px solid #ffffff;
                box-shadow: 0 0 0 1px #000000;
                cursor: pointer;
                transition:  0.15s ease-in-out;
                &:hover {
                  background-color: #D08E61;
                }
            }
        }
        &:active::-webkit-slider-thumb {
          background-color: var(--black);
        }
        &::-moz-range-thumb {
          width: 14px;
          height: 14px;
          border: 0;
          border-radius: 50%;
          background: var(--black);
          cursor: pointer;
          transition: 0.15s ease-in-out;
          &:hover {
            background-color: var(--black);
          }
        }
        &:active::-moz-range-thumb {
          background-color: var(--black);
        }
    }
}

@media (max-width: 1199px) {
    .product-review-top .product-review-center .range-area .range-item-lsit {
        font-size: 1.4rem;
    }
}
@media (max-width: 991px) {
    .product-review-top .review-point-count .review-point-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .product-review-top .review-point-count .review-icon {
        margin: 0 1rem;
    }
    .product-review-top .review-point-count {
        width: 100%;
    }
    .product-review-top .product-review-right {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .product-review-top .product-review-center {
        width: 100%;
    }
    .product-review-top .product-review-center {
        margin: 3rem 0;
    }
    .product-review-top .product-review-right .whrite-review-btn {
        margin-bottom: 0;
        font-size: 1.6rem;
    }
}
@media (max-width: 767px) {
    .review-list .single-review {
        flex-flow: row wrap;
    }
}
@media (max-width: 575px) {
    .review-list .single-review .review-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}
@media (max-width: 480px) {
    .review-list .single-review .review-right h4 {
        font-size: 1.8rem;
    }
    .review-list .single-review .review-right p {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .product-review-top .product-review-center .range-area {
        width: 100%;
        margin: 1rem 0;
    }
    .product-review-top .product-review-center {
        margin: 1rem 0 3rem 0;
    }
}