/*-------------------------
#.blog-area
--------------------------*/
.nav-tabs {
     border: none;
     justify-content: center;
     margin-bottom: 9rem;
     .nav-item {
          margin: 0;
          margin-right: 4rem;
          &:last-child {
               margin-right: 0;
          }
          .nav-link {
               position: relative;
               border: none;
               padding: 0;
               margin: 0;
               font-family: $bodyFont;
               font-size: 1.8rem;
               font-weight: 300;
               text-transform: uppercase;
               color: var(--black);
               &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: var(--black);
                    left: 0;
                    bottom: 0;
                    width: 0;
                    opacity: 0;
                    transition: $transition;
               }
               &.active {
                    color: var(--black);
                    &::before {
                         opacity: 1;
                         width: 100%;
                    }
               }
          }
     }
}
@import "./single-blog";
@media (max-width: 768px) {
     .blog-area  .nav-tabs {
          margin-bottom: 5rem;
     }
}
@media (max-width: 767px) {
     .blog-area .nav-tabs {
          margin-bottom: 3rem;
     }
     .nav-tabs .nav-item .nav-link {
          font-size: 1.4rem;
     }
     .nav-tabs .nav-item {
          margin-right: 2rem;
     }
}
@media (max-width: 575px) {
     .load-more-area.mt-30 {
          margin-top: 1rem;
     }
}