/*-------------------------
#.blog-area
--------------------------*/
.nav-tabs {
     border: none;
     justify-content: center;
     margin-bottom: 9rem;
     .nav-item {
          margin: 0;
          margin-right: 4rem;
          &:last-child {
               margin-right: 0;
          }
          .nav-link {
               border: none;
               padding: 0;
               margin: 0;
               font-family: $bodyFont;
               font-size: 1.8rem;
               font-weight: 700;
               text-transform: uppercase;
               color: var(--black);
               &.active {
                    color: var(--primary-color);
               }
          }
     }
}
@import "./single-blog";
@media (max-width: 768px) {
     .blog-area  .nav-tabs {
          margin-bottom: 5rem;
     }
}
@media (max-width: 767px) {
     .blog-area .nav-tabs {
          margin-bottom: 3rem;
     }
     .nav-tabs .nav-item .nav-link {
          font-size: 1.4rem;
     }
     .nav-tabs .nav-item {
          margin-right: 2rem;
     }
}
@media (max-width: 575px) {
     .load-more-area.mt-30 {
          margin-top: 1rem;
     }
}