/*-------------------------
#.video-image-area
--------------------------*/
.video-image-area {
     img {
          width: 100%;
          height: auto;
          object-fit: cover;
     }
}
@media (max-width: 575px) {
     .video-image-area img {
          height: 320px;
     }
}