/*-------------------------
#.blog-banner
--------------------------*/
.blog-banner {
     display: block;
     background-color: #CBD1C7;
     overflow: hidden;
     .blog-image {
          a {
               display: block;
          }
          img {
               width: 100%;
               height: auto;
          }
     }
     .blog-banner-content {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 3rem;
          .banner-content-wrap {
               max-width: 90%;
               margin: 0 auto;
          }
          .red-time {
               display: inline-block;
               margin-bottom: 2rem;
               font-size: 1.4rem;
               line-height: 1;
               font-weight: 400;
               color: var(--white);
               padding: 5px 10px;
               border-radius: .5rem;
               background-color: #D08E61;
          }
          .title {
               margin-bottom: 4.5rem;
               font-size: 3.2rem;
               font-weight: 700;
               text-transform: capitalize;
               color: var(--black);
               a {
                    color: var(--black);
                    transition: $transition;
                    &:hover {
                         color: var(--primary-color);
                    }
               }
          }
          .content {
               margin-bottom: 4.5rem;
               font-size: 2rem;
               line-height: 3rem;
               color: var(--black);
          }
     }
}
@media (max-width: 1367px) {
     .blog-banner .blog-banner-content {
          padding: 3rem 2rem;
     }
     .blog-banner .blog-image img {
          height: 500px;
          object-fit: cover;
     }
     .blog-banner .blog-banner-content .title {
          margin-bottom: 3rem;
     }
     .blog-banner .blog-banner-content .content {
          margin-bottom: 3.5rem;
          font-size: 1.8rem;
     }
}
@media (max-width: 991px) {
     .blog-banner .blog-banner-content {
          padding: 5rem 2rem;
     }
     .blog-banner .blog-banner-content .banner-content-wrap {
          max-width: 100%;
     }
     .blog-banner .blog-image img {
          height: auto;
     }
}

@media (max-width: 480px) {
     .blog-banner .blog-banner-content .title {
          font-size: 2.8rem;
     }
}