/*-------------------------
#.brand-slider-area
--------------------------*/
.brand-slider-area {
     padding: 5.5rem 0;
     background-color: var(--white);
     .slick-slider {
          margin: 0 -12px;
     }
     .slick-slide {
          margin-right: 12px;
          margin-left: 12px;
     }
     .single-brand {
          position: relative;
          font-size: 2.4rem;
          font-weight: 400;
          text-transform: capitalize;
          color: var(--bColor);
          transition: $transition;
          padding: 0 3rem;
          &::after {
               position: absolute;
               content: '';
               width: 5px;
               height: 5px;
               background-color: var(--bColor);
               top: 50%;
               transform: translateY(-50%);
               left: 100%;
               border-radius: 50%;
          }
     }
}
@media (max-width: 767px) {
     .brand-slider-area {
          padding: 3.5rem 0;
     }
     .brand-slider-area .single-brand {
          font-size: 2rem;
     }
}
@media (max-width: 575px) {
     .brand-slider-area .single-brand {
          font-size: 1.6rem;
          padding: 0 1rem;
     }
}