/*-------------------------
#.brand-slider-area
--------------------------*/
.brand-slider-area {
     padding: 5.5rem 0;
     .slick-slider {
          margin: 0 -12px;
     }
     .slick-slide {
          margin-right: 12px;
          margin-left: 12px;
     }
     .single-brand {
          font-size: 2.4rem;
          font-weight: 400;
          text-transform: capitalize;
          color: var(--bColor);
          transition: $transition;
          &:hover {
               color: var(--primary-color);
          }
     }
}