/*-------------------------
#.video-area
--------------------------*/
.video-area {
     .video-thumbnail {
          position: relative;
          img {
               width: 100%;
               height: auto;
          }
          .popup-video {
               @include flex-position(flex, center, center);
               position: absolute;
               left: 0;
               right: 0;
               top: 50%;
               transform: translateY(-50%);
               width: 10rem;
               height: 10rem;
               border: 1px solid var(--black);
               border-radius: 50%;
               font-size: 1.8rem;
               font-weight: 400;
               text-transform: uppercase;
               color: var(--white);
               transition: $transition;
               background-color: var(--black);
               margin: 0 auto;
               &:hover {
                    background-color: var(--primary-color);
                    color: var(--white);
                    border-color: var(--white);
               }
          }
     }
     .video-content {
          text-align: center;
          max-width: 90%;
          margin: 0 auto;
          margin-top: 5rem;
          font-family: $titleFont;
          font-size: 4.2rem;
          line-height: 5.8rem;
          color: var(--black);
     }
     
}
@media (max-width: 575px) {
     .video-area .video-thumbnail .popup-video {
          width: 8rem;
          height: 8rem;
     }
     .video-area .video-content {
          max-width: 100%;
          margin-top: 3rem;
     }
}