/*-------------------------
#.shop-page-area
--------------------------*/
.shop-page-area {
    .shop-page-top {
        h2 {
            margin-bottom: 2.5rem;
            font-size: 3.2rem;
            font-weight: 700;
            text-transform: capitalize;
            color: var(--black);
        }
        p {
            max-width: 900px;
            margin: 0 auto;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3rem;
            color: var(--black);
        }
    }
}
@media (max-width: 767px) {
    .shop-page-area .shop-page-top p {
        max-width: 100%;
    }
    .shop-page-top.mb-70 {
        margin-bottom: 3rem;
    }
}
@media (max-width: 575px) {
    .shop-page-area .shop-page-top p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .shop-page-area .shop-page-top h2 {
        font-size: 2.6rem;
        line-height: 3.4rem;
    }
}