/*-------------------------
#.switch-difference-area
--------------------------*/
.switch-difference-area {
     .slick-slider {
          margin:0 -15px;
     }
     .slick-slide {
          margin-right:15px;
          margin-left:15px;
     }
     .slick-arrow {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 1;
         font-size: 3rem;
         color: var(--black);
         transition: $transition;
         cursor: pointer;
         max-width: 3rem;
         &:hover {
             color: var(--black);
         }
         &.slick-prev {
             left: 1rem;
         }
         &.slick-next {
             right: 1rem;
         }
     }
     .switch-card-list {
          max-width: 94%;
          margin: 0 auto;
     }
     .switch-card-wrap {
          .single-switch-card {
               text-align: center;
               .icon {
                    margin-bottom: 3.5rem;
                    text-align: center;
                    img {
                         width: 6rem;
                         height: 6rem;
                         border-radius: 50%;
                         object-fit: cover;
                         margin: 0 auto;
                    }
               }
               h3 {
                    font-family: $bodyFont;
                    margin-bottom: 2rem;
                    font-size: 1.8rem;
                    font-weight: 300;
                    text-transform: capitalize;
                    color: var(--bColor);
               }
               p {
                    margin: 0 auto;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    color: var(--black);
                    max-width: 26rem;
               }
          }
     }
}

@media (max-width: 1399px) {
     .switch-difference-area .switch-card-list {
          max-width: 100%;
     }
}
@media (max-width: 575px) {
     .switch-difference-area .switch-card-wrap .single-switch-card p {
          font-size: 1.6rem;
          line-height: 2.4rem;
     }
}
@media (max-width: 480px) {
     .switch-difference-area .switch-card-wrap .single-switch-card p {
          max-width: 90%;
     }
}