/*-------------------------
#.faq-page-area
--------------------------*/
.faq-page-area {
     background-color: #FFFCF7;
     .nav-tabs {
          flex-direction: column;
          .nav-item {
               margin-bottom: 2.5rem;
               &:last-child {
                    margin-bottom: 0;
               }
          }
          .nav-link {
               display: inline-block;
               position: relative;
               text-align: left;
               padding: 0;
               border: none;
               background-color: transparent;
               font-family: $bodyFont;
               font-size: 2.4rem;
               font-weight: 400;
               text-transform: capitalize;
               color: var(--black);
               &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: var(--black);
                    left: 0;
                    bottom: 0;
                    width: 0;
                    opacity: 0;
                    transition: $transition;
               }
               &.active {
                    color: var(--black);
                    &::before {
                         opacity: 1;
                         width: 100%;
                    }
               }
          }
     }
     .contact-info {
          .contact-title {
               margin-bottom: 2.5rem;
               font-family: $titleFont;
               font-size: 2.2rem;
               font-weight: 400;
               text-transform: capitalize;
               color: var(--black);
          }
          .opning-time {
               margin-top: 2rem;
               font-family: $titleFont;
               font-size: 2.2rem;
               font-weight: 400;
               color: var(--black);
          }
          ul {
               margin: 0;
               padding: 0;
               li {
                    list-style: none;
                    margin-bottom: 1.2rem;
                    &:last-child {
                         margin-bottom: 0;
                    }
                    a {
                         display: flex;
                         list-style: none;
                         font-size: 2.2rem;
                         line-height: 1.3;
                         font-weight: 400;
                         text-transform: capitalize;
                         color: var(--black);
                         transition: $transition;
                         .icon {
                              width: 2.2rem;
                              margin-right: 1rem;
                         }
                         &:hover {
                              color: var(--bColor);
                         }
                    }
               }
          }
     }
}
@media (max-width: 1199px) {
     .faq-page-area .nav-tabs .nav-link {
          font-size: 2rem;
     }
     
}
@media (max-width: 991px) {
     .faq-page-area .nav-tabs .nav-item {
          margin-bottom: 2rem;
          margin-right: 0;
          text-align: center;
     }
}
@media (max-width: 768px) {
     .faq-page-area .nav-tabs {
          margin-bottom: 5rem;
     }
}
@media (max-width: 575px) {
     .faq-page-area .nav-tabs .nav-link {
          font-size: 1.8rem;
     }
}