/*-------------------------
#.footer-area
--------------------------*/
.footer-area {
     overflow: hidden;
     background-color: #D08E61;
     .footer-left {
          display: flex;
          align-items: center;
          background-color: #CBD1C7;
          height: 100%;
          padding: 3rem;
          .footer-left-conent {
               max-width: 445px;
               margin: 0 auto;
          }
          h2 {
               margin-bottom: 2.5rem;
               font-family: $titleFont;
               font-size: 4rem;
               font-weight: 400;
               color: var(--black);
          }
          p {
               margin-bottom: 2.5rem;
               font-size: 1.8rem;
               font-weight: 400;
               color: var(--black);
               span {
                    display: inline-block;
                    font-weight: 700;
               }
          }
          .newsletter-area {
               .form-group {
                    position: relative;
                    margin-bottom: 2rem;
                    .form-control {
                         width: 100%;
                         height: 5rem;
                         border: 1px solid var(--black);
                         border-radius: 9rem;
                         padding: 1.5rem 2rem;
                         box-shadow: none;
                         background-color: transparent;
                         font-family: $bodyFont;
                         font-size: 1.8rem;
                         font-weight: 400;
                         color: var(--bColor);
                    }
                    .send-btn {
                         padding: 0;
                         border: none;
                         background-color: transparent;
                         position: absolute;
                         top: 50%;
                         transform: translateY(-50%);
                         right: 2rem;
                         transition: $transition;
                         &:hover {
                              color: var(--primary-color);
                         }
                    }
               }
               p {
                    margin: 0;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    font-weight: 400;
                    color: var(--bColor);
               }
          }
     }
     .footer-right {
          padding: 12rem 5rem 7rem 5rem;
     }
     .single-widget {
          margin-bottom: 3rem;
          .widget-title {
               margin-bottom: 2.5rem;
               font-family: $bodyFont;
               font-size: 1.8rem;
               font-weight: 700;
               text-transform: capitalize;
               color: var(--black);
          }
     }
     .contact-widget {
          .opning-time {
               margin-bottom: 1rem;
               font-size: 1.8rem;
               font-weight: 400;
               color: var(--black);
          }
          ul {
               margin: 0;
               padding: 0;
               li {
                    list-style: none;
                    margin-bottom: 1.2rem;
                    &:last-child {
                         margin-bottom: 0;
                    }
                    a {
                         display: flex;
                         list-style: none;
                         font-size: 1.8rem;
                         line-height: 1.3;
                         font-weight: 400;
                         text-transform: capitalize;
                         color: var(--black);
                         transition: $transition;
                         .icon {
                              max-width: 2rem;
                              margin-right: 1rem;
                              object-fit: contain;
                         }
                         &:hover {
                              color: var(--bColor);
                         }
                    }
               }
          }
     }
     .menu-widget {
          ul {
               margin: 0;
               padding: 0;
               li {
                    list-style: none;
                    margin-bottom: .5rem;
                    &:last-child {
                         margin-bottom: 0;
                    }
                    a {
                         display: inline-block;
                         font-family: $bodyFont;
                         font-size: 1.8rem;
                         line-height: 1.3;
                         font-weight: 400;
                         text-transform: capitalize;
                         color: var(--black);
                         transition: $transition;
                         &:hover {
                              color: var(--bColor);
                         }
                    }
               }
          }
     }
     .footer-bottom {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-top: 7rem;
          .social-media {
               ul {
                    margin: 0;
                    padding: 0;
                    li {
                         display: inline-block;
                         list-style: none;
                         margin-right: 1.5rem;
                         &:last-child {
                              margin-right: 0;
                         }
                         a {
                              display: inline-block;
                              font-size: 1.8rem;
                              color: var(--black);
                              transition: $transition;
                              &:hover {
                                   color: var(--black);
                              }
                         }
                    }
               }
          }
          .copyright-area {
               p {
                    margin: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--bColor);
                    a {
                         color: var(--bColor);
                         transition: $transition;
                         &:hover {
                              color: var(--black);
                         }
                    }
               }
          }
          .footer-menu {
               ul {
                    margin: 0;
                    padding: 0;
                    li {
                         display: inline-block;
                         list-style: none;
                         margin-right: 2rem;
                         &:last-child {
                              margin-right: 0;
                         }
                         a {
                              display: inline-block;
                              font-size: 1.4rem;
                              font-weight: 400;
                              text-transform: capitalize;
                              color: var(--bColor);
                              transition: $transition;
                              &:hover {
                                   color: var(--black);
                              }
                         }
                    }
               }
          }
          .brands-logo {
               padding-right: 12%;
               a {
                    display: inline-block;
                    margin-right: 2rem;
                    &:last-child {
                         margin-right: 0;
                    }
                    img {
                         max-width: 6rem;
                    }
               }
          }
     }
}
@media (max-width: 1550px) {
     .footer-area .footer-bottom .brands-logo {
          padding-right: 0;
     }
     .footer-area .footer-right {
          padding: 7rem 3rem 3rem 3rem;
     }
     .footer-area .footer-bottom {
          margin-top: 3rem;
     }
}
@media (min-width: 1200px) and (max-width: 1350px) {
	.footer-area .footer-bottom {
          flex-flow: row wrap;
     }
     .footer-area .footer-bottom .social-media {
          order: 0;
          width: 50%;
     }
     .footer-area .footer-bottom .brands-logo {
          order: 1;
          width: 50%;
          text-align: right;
     }
     .footer-area .footer-bottom .footer-menu {
          order: 2;
          width: 100%;
          text-align: center;
          margin: 2rem 0;
     }
     .footer-area .footer-bottom .copyright-area {
          order: 3;
          width: 100%;
          text-align: center;
     }
}

@media (max-width: 1199px) {
     .footer-area .footer-left {
          padding: 5rem;
          justify-content: center;
     }
     
}
@media (max-width: 991px) {
     .footer-area .footer-right {
          padding: 7rem 1.5rem 3rem 1.5rem;
     }
     .footer-area .footer-bottom {
          flex-flow: row wrap;
     }
     .footer-area .footer-bottom .social-media {
          order: 0;
          width: 50%;
     }
     .footer-area .footer-bottom .brands-logo {
          order: 1;
          width: 50%;
          text-align: right;
     }
     .footer-area .footer-bottom .footer-menu {
          order: 2;
          width: 100%;
          text-align: center;
          margin-top: 2rem;
          margin-bottom: .5rem;
     }
     .footer-area .footer-bottom .copyright-area {
          order: 3;
          width: 100%;
          text-align: center;
     }
     .footer-area .footer-left {
          padding: 4rem 1.5rem;
     }
     .footer-area .footer-left h2 {
          margin-bottom: 1.5rem;
          font-size: 3.2rem;
     }
     .footer-area .footer-bottom {
          margin-top: 0;
     }
}
@media (max-width: 575px) {
     .footer-area .contact-widget ul li a {
          font-size: 1.4rem;
     }
     .footer-area .menu-widget ul li a {
          font-size: 1.4rem;
     }
     .footer-area .contact-widget .opning-time {
          font-size: 1.4rem;
     }
     .footer-area .single-widget .widget-title {
          font-size: 1.7rem;
     }
     .footer-area .footer-left h2 {
          font-size: 2.6rem;
     }
     .footer-area .footer-left p {
          font-size: 1.6rem;
     }
     .footer-area .footer-bottom .footer-menu ul li {
          margin-right: 1rem;
     }
}
@media (max-width: 375px) {
     .footer-area .single-widget .widget-title {
          margin-bottom: 1.5rem;
     }
}
@media (max-width: 360px) {
     .footer-right .row .col-6 {
          width: 100%;
     }
     .footer-area .footer-bottom .footer-menu ul li {
          margin-right: 1rem;
     }
     .footer-area .contact-widget ul {
          display: flex;
     }
     .footer-area .contact-widget ul li {
          margin-right: 3rem;
     }
     .footer-area .contact-widget ul li:last-child {
          margin-right: 0;
     }
}