/*-------------------------
#.designed-glove-area
--------------------------*/
.designed-glove-area {
    .size-chart {
        font-family: $bodyFont;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 700;
        color: var(--black);
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        padding: 0;
        img {
            max-width: 2rem;
        }
        span {
            display: inline-block;
            text-decoration: underline;
            margin-right: 1rem;
        }
    }
    .designed-glove-left {
        .nav {
            display: block;
            margin: 0;
            padding: 0;
            .nav-item {
                display: block;
                margin-bottom: 3rem;
                &:last-child {
                    margin-bottom: 0;
                }
                .nav-link {
                    display: inline-block;
                    font-family: $bodyFont;
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: var(--black);
                    transition: $transition;
                    text-decoration: none;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .tab-content {
        min-height: 330px;
    }
    .designed-glove-right {
        h2 {
            margin-bottom: 4rem;
            font-size: 3.2rem;
            font-weight: 700;
            text-transform: capitalize;
            color: var(--black);
        }
        ul {
            margin-bottom: 2rem;
            margin-left: 2rem;
            li {
                list-style: disc;
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--black);
            }
        }
        ol {
            margin-bottom: 2rem;
            li {
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--black);
            }
        }
    }
    .designed-glove-accordion {
        .accordion-item {
            margin-bottom: 0;
            &:last-child {
                .accordion-button {
                    border-bottom: none;
                }
            }
            .accordion-button {
                display: block;
                text-align: center;
                text-transform: uppercase;
                color: var(--black);
                border-bottom-color: var(--white);
                padding: 4rem 0;
            }
            .accordion-body {
                padding: 3rem 1.5rem;
                border-bottom: 1px solid var(--white);
            }
        }
    }
}
@media (max-width: 767px) {
    .designed-glove-area .designed-glove-left .nav .nav-item {
        margin-bottom: 2rem;
    }
    .designed-glove-area .designed-glove-left {
        margin-bottom: 5rem;
    }
    .designed-glove-area .designed-glove-left .nav .nav-item {
        text-align: center;
    }
    .designed-glove-area .designed-glove-left .nav .nav-item .nav-link {
        text-decoration: none;
    }
    .designed-glove-area.designed-glove-mobile.section {
        padding: 0;
    }
    .designed-glove-area .designed-glove-right h2 {
        margin-bottom: 2rem;
    }
    .designed-glove-area .designed-glove-accordion .accordion-item .accordion-button {
        padding: 3rem 0;
    }
}
@media (max-width: 575px) {
    .designed-glove-area .designed-glove-right h2 {
        font-size: 2.6rem;
        line-height: 3.4rem;
    }
    .designed-glove-area .designed-glove-right ul li {
        font-size: 1.6rem;
    }
    .designed-glove-area .designed-glove-right ol li {
        font-size: 1.6rem;
    }
    .designed-glove-area .designed-glove-left .nav .nav-item .nav-link {
        font-size: 1.6rem;
    }
}