/*-------------------------
#.sustainable-area
--------------------------*/
.sustainable-area {
     .title {
          margin-bottom: 6.5rem;
          font-size: 4.8rem;
          line-height: 5.8rem;
          color: var(--black);
     }
     .content {
          margin-bottom: 5.5rem;
          font-family: $titleFont;
          font-size: 2.4rem;
          line-height: 3.4rem;
          font-weight: 500;
          color: var(--black);
     }
}
@media (max-width: 1399px) {
     .sustainable-area .title {
          font-size: 3.6rem;
          line-height: 4.6rem;
          margin-bottom: 5rem;
     }
     .sustainable-area .content {
          font-size: 1.8rem;
          line-height: 3rem;
     }
}
@media (max-width: 575px) {
     .sustainable-area .title {
          margin-bottom: 3rem;
     }
     .sustainable-area .content {
          margin-bottom: 3rem;
     }
     .sustainable-area .title {
          font-size: 2.6rem;
          line-height: 3.4rem;
     }
     .sustainable-area .content {
          font-size: 1.6rem;
          line-height: 2.4rem;
      }
}
