/*-------------------------
#.image-content-area
--------------------------*/
.image-content-area {
     .image-section {
          img {
               width: 100%;
               height: auto;
          }
     }
     .content-box-area {
          display: flex;
          align-items: center;
          height: 100%;
          .content-box-inner {
               width: 80%;
               margin: 0 auto;
               .title {
                    margin-bottom: 4rem;
                    font-size: 4.8rem;
                    font-weight: 700;
                    text-transform: capitalize;
                    color: var(--black);
               }
               .content {
                    margin-bottom: 4.5rem;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    color: var(--black);
               }
               &.text-end {
                  .content {
                       max-width: 520px;
                       margin-left: auto;
                  }  
               }
          }
     }
}
@media (max-width: 1199px) {
     .image-content-area .content-box-area .content-box-inner .title {
          font-size: 3.6rem;
     }
}
@media (max-width: 991px) {
     .image-content-area .content-box-area .content-box-inner .title {
          margin-bottom: 2rem;
     }
     .image-content-area .content-box-area .content-box-inner .content {
          margin-bottom: 3.5rem;
          font-size: 1.6rem;
          line-height: 2.6rem;
     }
}
@media (max-width: 767px) {
     .image-content-area .content-box-area {
          padding: 6rem 0;
     }
}
@media (max-width: 480px) {
     .image-content-area .content-box-area .content-box-inner .title {
          font-size: 3.2rem;
     }
     .image-content-area .content-box-area .content-box-inner {
          width: 90%;
     }
}